$colors: (
primary:    #488aff,
secondary:  #32db64,
danger:     #f53d3d,
light:      #f4f4f4,
dark:       #222,
documentDisplay: #F0F0F0
);
  
app-document-checkout-list {
    pre.document-content {
        padding: 10px;
        background: color($colors, documentDisplay);
        border: none;
    }
}

