<ion-item-group>
  <ion-item *ngFor="let document of checkedOutDocuments">
    <ion-grid>
        <ion-row>
          <ion-col align-self-center>
              {{document.documentId}}
          </ion-col>
          <ion-col col-9>
              <pre class="document-content prettyprint">{{document.content}}</pre>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-item>
</ion-item-group>
