<form [formGroup]="documentCheckoutForm" (ngSubmit)="emitDocumentSubmitEvent()">
  <ion-item>
    <ion-label>Namespace</ion-label>
    <ion-input type="text" formControlName="namespace"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>User</ion-label>
    <ion-input type="text" formControlName="user"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Checkout ID</ion-label>
    <ion-input type="text" formControlName="checkoutId"></ion-input>
  </ion-item>
  

  <div class="button-container">
    <button ion-button type="submit" [disabled]="!documentCheckoutForm.valid">Go</button>
  </div>
</form>