<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <app-document-checkout-form (formSubmitEvent)="onDocumentFormSubmitted($event)"></app-document-checkout-form>
  <hr>
  <app-document-checkout-list [checkedOutDocuments]=checkedOutDocuments></app-document-checkout-list>  
</ion-content>
